table, form {
    font-size: 1.4em;
}




a {
    color: snow;
    font-weight: bold;
}
a:link.top-toolbar-item {
    background-color: cadetblue;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover.top-toolbar-item, a:active.top-toolbar-item {
    background-color: thistle;
    color: black;
}

.header {
    margin-top: 15px;
}

input, select {
    margin-top: 10px;
}

.entity-form {
    padding-bottom: 40px;
    margin-top: 20px;
    padding-top: 40px;
    box-shadow: 1px 0 19px 0px #2e6da4;
    font-size: 1.2em;
}